html {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #815412;
  background-image: radial-gradient(circle at center, #F6FFAD 0, #E7CF69 5000px);
}

input, button {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #815412;
  background-color: #F6FFAD;
}

fieldset {
  border: 0;
}

td {
  border: 1px;
}

li {
  list-style-type: none;
}

img.logo {
  width: 25%;
}
