html {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #815412;
  background-image: radial-gradient(circle at center, #F6FFAD 0, #E7CF69 5000px);
}

input, button {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #815412;
  background-color: #F6FFAD;
}

a:link, a:visited, a:hover, a:active {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #815412;
  text-decoration: underline;
}

fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
}
td.info {
  border: inset #815412;
}

blockquote {
  font-style: italic;
}

img.logo {
  width: 25vw;
  max-width: 250px;
}
