@import '@fontsource/fira-mono';

:root {
	--inner-color: #f6ffad;
	--outer-color: #f7ef79;
	--sel-color: #f0d055;
	--foc-color: #feb055;
	--color-theme-1: var(--sel-color);
	--font-body: Arial, sans-serif;
	--font-weight: bold;
	--font-mono: 'Fira Mono', monospace;
	--color-text: #815412;
	--bor-thin: 0.15rem;
	--bor-thick: 0.25rem;
	min-height: 100vh;
	font-size: min(3vw, 12pt);
	font-family: var(--font-body);
	color: var(--color-text);
	scrollbar-color: var(--color-text) var(--sel-color);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	/* background-repeat: space; */
	background-image: radial-gradient(
		50% 50% at 50% 50%,
		var(--inner-color) 0%,
		var(--outer-color) 110%
	);
}

::selection,
::-moz-selection {
	background: var(--sel-color);
}

th,
td {
	padding: 0.2em 0.2em;
	font-weight: var(--font-weight);
}

input,
button {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: inherit;
	color: var(--color-text);
	background-color: var(--inner-color);
	border: var(--bor-thin) solid var(--color-text);
}

input::placeholder {
	color: var(--color-text);
  opacity: 0.5;
}

blockquote {
	font-weight: var(--font-weight);
	font-style: italic;
}

a {
	font-weight: var(--font-weight);
	color: inherit;
	text-decoration: underline;
}

input,
button,
a,
summary {
	&:hover {
		outline: solid var(--bor-thick) var(--sel-color);
	}
	&:focus {
		outline: solid var(--bor-thick) var(--foc-color);
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.25rem;
	font-style: italic;
	&::before {
		content: '== ';
	}
}

pre {
	font-family: var(--font-mono);
	font-weight: var(--font-weight);
	background-color: rgba(255, 255, 255, 0.45);
	padding: 0.5rem;
	overflow-x: auto;
	border-radius: 0.5rem;
}

details {
	width: 100%;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: var(--bor-thin) outset var(--color-text);
}

.tcenter {
	align-self: center;
}
.tleft {
	align-self: start;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
}
